
{% extends 'auth/_base.html' %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
    <form action="{{ url_for("auth.register") }}">
        <input name="email_register" hidden>
        <label>Full Name</label>
        <input name="full_name" type="text">
        <label>Email</label>
        <input name="email" type="email">
        <label>Password</label>
        <input name="password" type="password">
        <button>Create Account</button>

        Already have an account? <a href="{{ url_for(" auth.login") }}">Sign up</a>

{% endblock %}
