{% extends 'auth/_base.html' %}

{% block body %}


<h1 class="center-block">Reset Password for </h1>
{% raw %}
<form id="resetPassword" role="form" enctype="multipart/form-data" action="{{ url_for("") }}">
    <input id="id" name="user_id" value="{{ user_id }}" hidden>
    <input id="code" name="code" value="{{ code }}" hidden>

    <label>Password</label>
    <input name="password" type="password">
    <label>Reset Password</label>
    <input name="reset_password" type="password"
           required>
    <div id="hint"></div>

    <input type="submit" id="register" class="btn btn-success" value="Reset Password"/>
</form>
{% endblock %}

{% block scripts %}
    <script>
        document.querySelector("#resetPassword").addEventListener("submit", function (e) {
            if (document.querySelector("input[name=password]").value !==
                document.getElementById("input[name=retype_password]").value) {
                e.preventDefault();
                document.getElementById("hint").innerText = "Password and Retype password are not the same"
            }
        });
    </script>
{% endblock %}
